---

---

 *, *::before, *::after {
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
 }

.center-about {
    width: 100%;
    text-align: center;
}

.center-image {
    text-align: center;
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.center-contact {
    width: 700px;
    position: relative;
}

form {
    margin-left: 15%;
    margin-right: 15%;
    max-width: 70%;
}

input, textarea {
    
}

.heading {
    text-align: center;
}

.center-content {
    margin-left: auto;
    margin-right: auto;
}

.education-heading {
    text-align: center;
    padding-top: 150px;
}

.employment-heading {
    text-align: center;
    padding-top: 20px;    
}

html { 
    font-size: 70%;
}

post {
    text-align: center;
}

.project {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.resume {
    font-size: 17px;
}
    @media only screen and (min-width: 1350px) {
        .resume {
            font-size: 14px;
        }
    }
    @media only screen and (min-width: 1150px) and (max-width: 1349px) {
        .resume {
            font-size: 13px;
        }
    }
    @media only screen and (min-width: 910px) and (max-width: 1149px) {
        .resume {
            font-size: 12px;
        }
    }
    @media only screen and (min-width: 810px) and (max-width: 909px) {
        .resume {
            font-size: 11px;
        }
        .education-heading {
            padding-top: 135px;
        }
    }
    @media only screen and (min-width: 700px) and (max-width: 809px) {
        .resume {
            font-size: 10px;
        }
        .education-heading {
            padding-top: 130px;
        }
    }
    @media only screen and (min-width: 620px) and (max-width: 699px) {
        .resume {
            font-size: 9px;
        }
        .education-heading {
            padding-top: 130px;
        }
    }
    @media only screen and (min-width: 500px) and (max-width: 619px) {
        .resume {
            font-size: 19px;
        }
        .left {
            font-size: 22px;
        }
        .education-heading {
            padding-top: 280px;
        }
    }
    @media only screen and (min-width: 333px) and (max-width: 499px) {
        form {
            margin-left: 0%;
            margin-right: 0%;
            width: 100%;
        }
        .resume {
            font-size: 16px;
        }
        .left {
            font-size: 19px;
        }
        .education-heading {
            padding-top: 250px;
        }
    }
    @media only screen and (max-width: 332px) {
        form {
            margin-left: 0%;
            margin-right: 0%;
            width: 100%;
        }
        .resume {
            font-size: 14px;
        }
        .left {
            font-size: 16px;
        }
        .education-heading {
            padding-top: 200px;
        }
    }

.right {
    float: right;
}

.left {
    float: left;
}
@media (max-width: 500px) {
    .left {
        text-align: center;
    }
}


@media only screen and (min-width: 300px) and (max-width: 767px) { 
    html {
        font-size: 85%; 
    }
    
    article, .comments {
        padding-left: 6% !important;
        padding-right: 6% !important;
    }
    
    .project:hover {
        box-shadow: 10px 5px 80px rgba(1,1,1, .4);
        transition: box-shadow 0.5s;
    }
 }

@media only screen and (min-width: 768px) and (max-width: 991px) {
    html {
        font-size: 100%; 
    }
    
    .center-about {
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }
    
    article, .comments {
        padding-left: 10% !important;
        padding-right: 10% !important;
    }
    
    .project:hover {
        box-shadow: 10px 5px 80px rgba(1,1,1, .4);
        transition: box-shadow 0.5s;
    }
 }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    html {
        font-size: 105%; 
    }
    
    article, .comments {
        padding-left: 19% !important;
        padding-right: 19% !important;
    }

    .project:hover {
        box-shadow: 10px 5px 80px rgba(1,1,1, .4);
        transition: box-shadow 0.5s;
    }
 }

@media only screen and (min-width: 1200px) {
    html { 
        font-size: 110%; 
    }
    
    article, .comments {
        padding-left: 22% !important;
        padding-right: 22% !important;
    }

    .project:hover {
        box-shadow: 10px 5px 80px rgba(1,1,1, .4);
        transition: box-shadow 0.5s;
    }
}
// External
@import 'external/reset';
@import 'external/solarized-dark';

// Base
@import 'base/variables';
@import 'base/global';
@import 'base/utility';

// Posts
@import 'layouts/posts';
@import 'layouts/index';

// Partials
@import 'includes/header';
@import 'includes/footer';
