---

---
.heading {
    text-align: center;
}

.center-about {
    text-align: center;
}

.center-image {
    text-align: center;
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.portrait {
    background-color: rgba(0, 0, 0, 0.1);
}

.project {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.project:hover {
    box-shadow: 10px 5px 80px rgba(1,1,1, .4);
    transition: box-shadow 0.5s;
}

.right {
    float: right;
}

// External
@import 'external/reset';
@import 'external/solarized-dark';

// Base
@import 'base/variables';
@import 'base/global';
@import 'base/utility';

// Posts
@import 'layouts/posts';
@import 'layouts/index';

// Partials
@import 'includes/header';
@import 'includes/footer';
