---

---
.heading {
    text-align: center;
}

.center-image {
    text-align: center;
}

.work {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}

.invisible {
    color: white;
}

.portrait {
    background-color: rgba(0, 0, 0, 0.1);
}

// External
@import 'external/reset';
@import 'external/solarized-dark';

// Base
@import 'base/variables';
@import 'base/global';
@import 'base/utility';

// Posts
@import 'layouts/posts';
@import 'layouts/index';

// Partials
@import 'includes/header';
@import 'includes/footer';
