// Typography
$font-family-main: 'Istok Web';
$font-family-headings: 'Istok Web', sans-serif;
$font-size: 1.15em;

// Padding
$padding-large: 20%;
$padding-small: 5%;
$padding-x-small: 3%;

// Brand colours
$brand-color: #606c88;
$background-color: #3f4c6b;
$border-color: rgba(0, 0, 0, 0.1); // rgba recommended if using feature images

// Typography colours
$text-color: #fff;
$link-color: #4CA1AF;
$selection-color: #fff; // visible when highlighting text

// Header colours
$header-link-color: #fff;

// Feature image for articles
$feature-image-text-color: #fff;
$feature-image-size: cover; // options include "cover", "contain", "auto"

// Header description box
$header-desc-background-color: #0070BB;
$header-desc-text-color: #FFF;
